body {
    font-size: 18px;
}
header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: inline-flexbox;
}
hr{
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.content-container{
    margin: 1rem;
}
.nav-left {
    margin-right: auto;
}
.nav-right {
    display: flex;
    padding-top: 2rem;
}
.post-entry {
    margin-bottom: 2;
}

.post-entry h3 {
    margin: .5rem 0;
    font-size: .75rem;
}
.post-entry h3 a {
    color: rgb(40, 0, 40);
    text-decoration: none;
}
.post-entry h3 a:hover {
    text-decoration: underline;
    color: navy;
}
.post-entry h3 a:visited {
    text-decoration: overline;
    color: navy;
}
.login-container{
    display: inline-flex;
}






.navbar-brand a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 0.5rem;
    font-size: 2rem;
}
header h1 a {
    color: rgb(40, 0, 40);
    text-decoration: none;
}
header h1 a:hover {
    text-decoration: underline;
    color: navy;
}